<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		
		<component id="MovementIntalizer" service="MazeGameV2_0.IMovement, MazeGameV2_0" type="MazeGameV2_0.Movement, MazeGameV2_0" lifestyle="singleton" />
		<component id="WallIntalizer" service="MazeGameV2_0.IMazeObjects, MazeGameV2_0" type="MazeGameV2_0.Wall, MazeGameV2_0" lifestyle="singleton"/>
		<component id="EmptySpaceIntalizer" service="MazeGameV2_0.IMazeObjects, MazeGameV2_0" type="MazeGameV2_0.EmptySpace, MazeGameV2_0" lifestyle="singleton"/>
		
		<component id="CharacterIntalizer" service="MazeGameV2_0.IMazeObjects, MazeGameV2_0" type="MazeGameV2_0.Character, MazeGameV2_0" lifestyle="singleton"/>
		<component id="MazeGameShapeIntalizer" service="MazeGameV2_0.IMazeGameShape, MazeGameV2_0" type="MazeGameV2_0.MazeGameShape, MazeGameV2_0" lifestyle="singleton"/>
		<component id="MazeGameIntalizer" service="MazeGameV2_0.MazeGame, MazeGameV2_0" type="MazeGameV2_0.MazeGame, MazeGameV2_0" lifestyle="singleton"/>
		
		
	</components>
</configuration>
